@use 'variables' as *;

.about {
  background-color: $bgColor;

  &__item {
    display: flex;
    align-items: center;

    &-text {
      font-family: 'TTLakes-Bold';
      font-size: 28px;
      font-weight: 700;
      letter-spacing: -0.6px;
      color: $dText;
      padding-left: 10px;
    }
  }

  &__list {
    display: flex;
    gap: 10px;
    padding-left: 15px;
    overflow: scroll;
  }
  &__list::-webkit-scrollbar {
    display: none;
  }

  .list-link {
    height: 40px;
    border-radius: 6px;
    border: none;
    transition: all 0.3s ease;
    background-color: $wColor;

    a {
      text-decoration: none;
      white-space: nowrap;
      color: $gText;
      font-size: 16px;
      letter-spacing: -0.2px;
      padding: 10px;
      font-weight: 500;
    }
  }
  .list-link:hover {
    border: 2px solid #b8ffec;
  }
}
.about__desc {
  padding-left: 10px;

  .about-text {
    .text {
      font-size: 14px;
      letter-spacing: 0.2px;
      color: $dText;
    }
    .desc-add {
      display: block;
      margin: 10px 0;
      width: 132px;
      height: 24px;
      border: none;
      background-color: $bgColor;
    }
    .desc-add::before {
      content: url('../img/btn/ReadMore\ Copy.svg');
      border: none;
      padding: 0;
      background-color: $bgColor;
      width: 134px;
      height: 24px;
      transition: transform 0.2s ease;
    }
    .desc-add:hover::before {
      filter: blur(0.5px);
    }
    .desc-add.visible::before {
      content: url('../img/btn/hidd.svg');
      background-color: $bgColor;
      border: none;
      width: 134px;
      height: 24px;
      margin-left: -25px;
    }
  }
}
.about-image {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .about {
    .button-repair,
    .button-status {
      display: none;
    }

    .about-text {
      padding: 0 10px;

      .text {
        height: auto;
      }
    }
  }
}

.full-text {
  display: none;
}
.full-text.visible {
  display: block;
}
@media screen and (min-width: 768px) {
  .about {
    &__list {
      flex-wrap: wrap;
    }
    &__item {
      margin: 15px 0;
    }
    .button-repair,
    .button-status {
      display: none;
    }
    &__desc {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      margin: 5px;
      align-items: stretch;

      .about-text {
        width: 312px;
        flex-direction: row;
        align-items: center;
        overflow: hidden;

        .text {
          height: 160px;
        }
      }
    }
    .about-image {
      width: 50%;
      height: auto;
      margin: 10px;

      img {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 1120px) {
  .about {
    &__item {
      height: 88px;
      margin: 0;
      justify-content: space-between;

      &__item-text {
        margin-left: 10px;
        margin-right: auto;
      }
      .button-repair,
      .button-status {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.2px;
        gap: 15px;
        background-color: transparent;
        border: none;
        padding: 0;
      }
      .button-repair {
        margin-right: 10px;
        margin-left: auto;
      }
    }
    &__list {
      flex-wrap: wrap;
    }
  }
}
