.price-list {
  height: 508px;
  width: 100%;
  margin: 0 10px;

  .section-title {
    height: 56px;
    display: flex;
    align-items: center;
    color: $gText;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'regular';
    font-weight: 300;
    padding: 0px;
    margin: 0;
  }
}
.swiper-price {
  height: 240px;
  width: 100%;

  .price-wrapper {
    width: 260px;
    height: 220px;
    margin-left: 10px;

    .price-slide {
      height: 200px;
      width: 260px;
      background-color: $wColor;
      border-radius: 6px;
      border: none;
      display: flex;
      justify-content: center;

      .price-card {
        padding: 0 10px;
        position: relative;
        h3 {
          color: $gText;
          font-size: 14px;
          letter-spacing: 0px;
          line-height: 16px;
          margin-bottom: 5px;
        }

        p {
          color: $dText;
          font-size: 14px;
          letter-spacing: 0.2px;
          line-height: 18px;
          margin: 0;
        }
      }
      .btn-follow {
        background-color: #ff3e79;
        border: none;
        border-radius: 16px;
        color: $wColor;
        display: inline;
        position: absolute;
        bottom: 20px;
        right: 10px;
        width: 119px;
        height: 32px;
        transition: transform 0.2s ease;
      }
      .btn-follow:hover {
        filter: drop-shadow((0 0 4px rgb(204, 50, 50)));
      }
    }
  }
  .swiper-pagination-bullet-active {
    background: #b5b6bc;
  }
}
.price-about {
  height: 192px;
  margin: 0 10px;

  p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: $dText;
  }
  a {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 600;
    color: $dText;
    text-decoration: none;
  }
  a::after {
    content: url('../img/btn/dropdown1.svg');
    /*background-image: url('../img/btn/dropdown.svg');*/
    width: 24px;
    height: 28px;
    margin-left: 5px;
    background-color: transparent;
    background-repeat: no-repeat;
    transition: transform 0.2s ease;
  }
  a:hover::after {
    filter: drop-shadow((0 0 4px rgb(204, 50, 50)));
  }
}

.price-table {
  display: none;
}
@media screen and (min-width: 1120px) {
  .swiper {
    display: contents;
  }
  .swiper-price {
    display: none !important;
  }

  .price-table {
    margin: 10px;
    display: flex;
    table {
      width: 90%;
      height: 356px;
      border-collapse: collapse;
      border: none;
      padding: 10px 10px;

      th {
        text-align: start;
        color: $gText;
      }
      tbody {
        background-color: $wColor;
        padding: 10px 10px;
        border-radius: 6px;

        td {
          border: 0;
          padding: 10px 10px;
        }
        td:last-child {
          padding: 0;
          margin: 0;
        }
        tr {
          border: 2px solid $color;
        }
      }
      .order {
        background-image: url('../img/btn/order.svg');
        width: 119px;
        height: 32px;
        border: none;
        transition: transform 0.2s ease;
        border-radius: 16px;
      }
      .order:hover {
        filter: drop-shadow(0 0 4px rgb(204, 50, 50));
      }
    }
  }
  .price-about {
    width: 421px;
    margin: 10px 10px;
  }
  .footer-main {
    margin: 10px 10px;
    display: flex;
    justify-content: space-between;

    p {
      width: 30%;
    }
  }
}
