@use 'variables' as *;

.sidebar {
  width: 320px;
  display: none;
  background-color: $wColor;
  min-height: 750px;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    height: 88px;
    border: none;

    &__open-menu,
    &__search {
      background: transparent;
      border: none;
      cursor: pointer;
      transition: transform 0.2s ease;
    }
    &__open-menu,
    &__search:hover {
      filter: drop-shadow(0 0 4px blue);
    }
    &__open-menu {
      margin-left: 5px;
    }
    &__logo {
      margin-left: 5px;
      margin-right: auto;
    }
    &__search {
      margin-right: 10px;
      margin-left: auto;
    }
  }

  .menu {
    margin-bottom: auto;

    &__item {
      padding: 0;
      margin: 0;

      .item-link {
        padding: 10px 0;
        display: flex;
        align-items: center;

        a {
          text-decoration: none;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: -0.2px;
          height: 30px;
          color: $dText;
          padding-left: 10px;
          transition: transform 0.5s ease;
        }
        a:hover {
          border-left: 2px solid rgb(99, 187, 246);
          color: $gText;
          padding-left: 20px;
          transition: 300ms;
        }
      }
    }
  }
  footer {
    margin-top: auto;
    margin-bottom: 15px;
    padding-left: 10px;

    .contact-us {
      .button-icon {
        display: flex;
        gap: 10px;
        justify-content: flex-start;

        .icon {
          background: transparent;
          border: none;
          transition: transform 0.2s ease;
        }
        .icon:hover {
          filter: drop-shadow(0 0 4px rgb(198, 40, 98));
        }
      }
      &__details {
        display: flex;
        flex-direction: column;

        .number {
          font-family: 'TTLakes-Bold';
          font-weight: 700;
        }
        a {
          font-size: 16px;
          letter-spacing: -0.2px;
          text-decoration: none;
          color: $dText;
          padding: 5px;
          width: 106px;
          font-weight: 700;
          white-space: nowrap;
          transition: transform 0.2s ease;
        }
        a:hover {
          transform: scale(1.05);
        }
      }
    }
    .language {
      display: flex;
      margin: 5px;
      width: 87px;
      height: 24px;
      margin-top: 15px;

      a {
        text-decoration: none;
        color: $dText;
        font-size: 16px;
        letter-spacing: -0.2px;
        width: 24px;
        height: 24px;
        margin: 3px;
        font-weight: 500;
      }
      a:hover {
        color: #7e7e82;
        font-size: 14px;
      }
    }
  }
}
.background {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

@media screen and (min-width: 768px) {
  .sidebar {
    width: 360px;

    .header {
      height: 88px;
    }
  }
}
@media screen and (max-width: 1120px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    box-shadow: 1px 1px 35px rgba(0, 0, 0, 0.6);
    z-index: 1000;
    transform: translate(-100%);
    transition: transform 0.3s ease;

    .header {
      height: 88px;
    }
  }
}
@media screen and (min-width: 1120px) {
  body {
    margin-left: 0;
  }
  .sidebar {
    position: fixed;
    width: 320px;
    transform: none;
    transition: none;
    left: auto;
    height: 100%;

    .header {
      height: 88px;

      &__open-menu {
        display: none;
      }
      &__logo {
        margin-left: 10px;
      }
    }
  }
  .background {
    display: none;
  }
}
.sidebar.sidebar-active {
  transform: translateX(0px);
  left: 0;
}
.background.sidebar-active {
  display: block;
}
